@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.company__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company__alltab ul li {
  list-style: none;
  display: inline;
  padding: 1rem 3rem;
  border-radius: 8px 8px 0px 0px;
  background-color: #d4d4d4;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.company__alltab ul li.selected {
  background-color: #bbcfd0;
}

/* need this ma?? */
.company__movietab,
.visible_contents {
  position: relative;
}

.generateSales__btn,
.movietab__btn,
#hall__btn {
  position: absolute;
  right: 4rem;
}

.movietab__posters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 4rem;
}

.movietab__poster {
  width: 190px;
  height: 235px;
  padding: 1rem 3rem 1rem 0;
}

.table1,
tr,
td {
  border: none;
}

td {
  padding: 0.3rem 5rem;
}

#visible_contents {
  background-color: #bbcfd0;
  padding: 3rem;
  border-radius: 0px 8px 8px 8px;
  line-height: 1.6rem;
  margin: -1px 40px;
}

.hidden_contents {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}