@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(120deg, rgba(2, 0, 36, 1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,200,1) 100%);
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

#center {
	margin: auto;
	background-color: white;
	border-radius: 10px;
	width: 30%;
	padding: 20px
}

.login_header {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 40px;
	border-bottom: 1px solid silver;
	font-weight: bolder
}


.username_input,
.password_input {
	position: relative;
	margin: 20px 20px 20px;
}

.username_input input,
.password_input input {
	padding: 0px 5px;
	border: none;
	outline: none;
	height: 40px;
	font-size: 17px;
}

.username_input label,
.password_input label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translate(0, -50%);
	color: silver;
	pointer-events: none;
	font-size: 17px;
}

.username_input span::before,
.password_input span::before {
	content: '';
	position: absolute;
	top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: silver;
}

.username_input input:focus ~ label, 
.username_input input:valid ~ label,
.password_input input:focus ~ label,
.password_input input:valid ~ label {
	top: -5px;
    color: rgba(255, 0, 0, 0.6);
    transition: .5s;
}

.username_input input:focus ~ span::before,
.username_input input:valid ~ span::before,
.password_input input:focus ~ span::before,
.password_input input:valid ~ span::before {
    width: 100%;
    background: rgba(255, 0, 0, 0.6);
    transition: .5s;
}

.forgot_password {
	text-decoration: underline;
	color: rgb(136, 135, 135);
	margin: 20px 20px;
}

input[type="submit"] {
	width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: rgb(153, 176, 250);
    border: none;
    border-radius: 25px;
}

input[type="submit"]:hover {
    border:2px solid black;
}

.submit {
    padding-bottom: 30px;
}