@charset "ISO-8859-1";

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
	display: none;
}

.dialog {
	position: absolute;
	width: auto;
	height: auto;
	background: #fff;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	min-width: 850px;
	display: none;
	z-index: 1050;    
	max-height: 500px;
    overflow-y: auto;
}

.modal-content{
	max-height: 500px;
    overflow-y: auto;
    margin-top: -50px;
}

.times-button {
	background: lightgray;
	height: 25px;
	width: 25px;
	text-align: center;
	border-radius: 30px;
	float: float-end;
}


.badge-style {
	border-radius: 30px;
	padding:2px 10px;
}

.badge-style.badge-lightblue {
	background: lightblue;
}

.badge-style.badge-lime {
	background: lime;
}

.badge-style.badge-white {
	background: #f0f0f0;
}
